<header class "header">
    <div class="container block">

        <div class="row">

            <div class="col-5"></div>

            <div class="col-2 header__logo">LOGO</div>

            <div class="col-5"></div>

        </div>

    </div>

</header>