<header class="header">
    <div class="container-fluid">

        <div class="row">

            <div class="col-5 header__left">
                <a class="link link__home" href="/">Homepage</a>
                <a class="link link__product" href="/products">See our products!</a>
            </div>

            <div class="col-2 header__center">
                <a class="link link__logo" href="/"> <img src="/img/logo.png"  width="144" height="100"/></a>
            </div>

            <div class="col-5 header__right">
                <a class="link link__about" href="/about-us">About us</a>
                <a class="link link__contact" href="/contact">Contact</a>
                <a class="link link__cart" href="/cart">Cart</a>
            </div>

        </div>

    </div>

</header>