#homepage{
    #content-wrapper{
        width: 100%;

        .homepage-content{
            width: 50%;

            img{
                border-radius: 5px;
            }

            @include media-down(md){
                width: 75%;
                
            }

            @include media-down(sm){
                width: 90%;
                
            }
            
            margin: 25% auto 0;
        }
    }
}