<div class="row form-group">
    <div class="col-6">
        {{field.name}}
    </div>

    <div class="col-6">
        <div class="custom-file">
            <input class="custom-file-input" type="file" name="{{field.name}}" id="{{field.name}}">
            <label class="custom-file-label" for="{{field.name}}"></label>
        </div>
    </div>
</div>