<div class="row form-group">
    <div class="col-6">
        <label for="input_login">{{field.displayname}}</label>
    </div>

    <div class="col-6">
        <input type="number" class="form-control" name="{{field.name}}" step="any" value="{{field.value}}" />  
    </div>
</div>