{% extends 'page.twig' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>Cart</h1>
        {% if cart.products %}
            {% include "cart/cart-products.twig" %}
        {% else %}
            {% include "cart/cart-empty.twig" %}
        {% endif %}
    </div>
</div>

<br />

<div class="row">
    <div class="col-12">
        {% if cart.products %}
            {% include "cart/cart-proceed.twig" %}
        {% endif %}
    </div>
</div>

<br />



{% endblock %}
