{% extends 'page.twig' %}


{% block content %}

<div class="homepage-content">
    <div class="col-12">
        <h1>Witamy na naszej stronie!</h1>
        <h4>Tutaj będzie coś widoczne..</h4>
        
    </div>
</div>

{% endblock %}
