{% extends 'page.twig' %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}

    <div class="block maintenance-content">
        <h1>{{header}}</h1>
        <p>{{content}}</p>
    </div>

{% endblock %}

