{% extends 'page.twig' %}

{% block content %}
<div class="row">

    <div class="col-12 block">
        <h1>Error!</h1>
        <h4>Requested page was not found. </h4>
        
    </div>
</div>

{% endblock %}
