<!DOCTYPE html>
<html lang="en">
<head> 
    {% block head %} 
         {% include 'partials/head.twig' %}
    {% endblock %}
</head>
<body id="{{pagename}}">
    <main>
    {% block header %}
        {% include 'partials/header.twig' %}
    {% endblock %}

    <div id="content-wrapper" class="container"> 
    {% block content %}    
        
    {% endblock %}
    </div>


    {% block footer %}    
         {% include 'partials/footer.twig' %}
    {% endblock %}
    </main>  
</body>
</html>

