<!DOCTYPE html>
<html lang="en">
<head> 
    {% block head %} 
         {% include 'partials/head.twig' %}
    {% endblock %}
</head>
<body id="{{pagename}}" class="{{pagename}}">
    <main>

        <div id="header-wrapper" class="container-fluid content-wrapper block"> 
        {% block header %}
            {% include 'partials/header.twig' %}
        {% endblock %}
        </div>

        <div id="pre_content-wrapper" class="container-fluid content-wrapper block"> 
        {% block pre_content %}    
            
        {% endblock %}
        </div>

        <div id="content-wrapper" class="container-fluid content-wrapper block"> 
        {% block content %}    
            
        {% endblock %}
        </div>

        <div id="post_content-wrapper" class="container-fluid content-wrapper block"> 
        {% block post_content %}    
            
        {% endblock %}
        </div>

        <div id="footer-wrapper" class="container-fluid content-wrapper block"> 
        {% block footer %}    
            {% include 'partials/footer.twig' %}
        {% endblock %}
        </div>

    </main>  
</body>
</html>

