<div class="panel-sidebar">
    <ul>
        <li><a href="/panel/config/product">Products</a></li>
        <li><a href="/panel/config/order">Orders</a></li>
        <li><a href="/panel/config/address">Addresses</a></li>
        <li><a href="/panel/config/employee">Employees</a></li>
        <li><a href="/panel/config/customer">Customers</a></li>
        <li><a href="/panel/config/currency">Currencies</a></li>
        <li><a href="/panel/config/carrier">Carriers</a></li>
        <li><a href="/panel/config/cart">Carts</a></li>
        <li><a href="/panel/config/cartProduct">Cart Products</a></li>
    </ul>
  
    <ul>
        <li><a href="/panel/settings">Settings</a></li>
    </ul>
</div>