{% extends 'panel.twig' %}

{% block content %}

<div class="row">

    <div class="col-3">
        <h4>Panel boczny</h4>
        <hr />
        {% include 'partials/admin/sidebar.twig' %}
    </div>

    <div class="col-9">
        <p>Tu będzie panel środkowy</p>
    </div>
    
</div>


{% endblock %}