{% extends 'admin.twig' %}

{% block content %}

<div class="row">

    <div class="col-3">
        <h4>Sidebar</h4>
        {% include 'partials/admin/sidebar.twig' %}
    </div>

    <div class="col-3">
       
    </div>

    <div class="col-6">
        <h4>Form</h4>
        {% include 'form/form-base.twig' %}
    </div>

</div>

<div class="row">
    <div class="col-12">
        {% include 'partials/config/table.twig' %}
    </div>
</div>


{% endblock %}