{% extends 'panel.twig' %}

{% block content %}

<div class="row">

    <div class="col-12 text-center">
        <h1>Page not found.</h1>
        <a href="/panel/">Back to panel?</a>
    </div>


</div>


{% endblock %}