<h6>ABOUT US</h6>
<p>Welcome to our shop, your number one source for all things - shoes, bags, and all clothing related things. We're dedicated to giving you the very best clothing, with a focus on three characteristics, ie: dependability, customer service and uniqueness.</p>
<p>Founded in 1997 by John Smith, Clothing Store has come a long way from its beginnings in a Lódz city, Poland. When John Smith first started out, his/her passion for helping other people be more eco-friendly drove him to quit his day jon, and gave him the impetus to turn hard work and inspiration into to a booming online store.</p>
<p>We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.</p>
<p>
    Sincerely, <br />
    John, Clothing Store
</p>