<h4 style="text-align: center;">Contact us!</h4>
<h5 style="text-align: center;">Online wear shop.</h5>
<h5 style="text-align: center;">12/6 Street</h5>
<h5 style="text-align: center;">12-345 City</h5>
<h5 style="text-align: center;">Telephone: (+48)123456789</h5>
<h5 style="text-align: center;">Email: onlineshop@mail.com</h5>
