
<h6>Delivery/Postage</h6>
<p>Orders are despatched Monday to Friday. Please allow up to 72 hours (3 working days) between order placement and despatch of your order. The number of staff we can have on the premises is limited to ensure compliance with social distancing.</p>
<p>Orders are not able to be despatched or delivered on Polish Public holidays.</p>

<h6>Additional Information</h6>
<p>Payment is required with the order and delivery may take up to 6 weeks.</p>
