
<h6 style="text-align: center">Personal Information we collect automatically</h6>
<p style="text-align: justify">When you visit our website or use our services, we may collect certain information automatically such as:</p>

    <p style="text-align: justify">1. Your IP address (the name your computer used to identify itself to you)</p>
    <p style="text-align: justify">2. The number of times you visited our website</p>
    <p style="text-align: justify">3. The pages that you visit.</p>

<p style="text-align: justify">If you want to know more about how we use cookies, you can find more information here.</p>
<h6 style="text-align: center">Personal Information we collect from other sources</h6>
<p style="text-align: justify">We work with a number of other organisations such as payment processing companies, credit reference agencies, internet search engines, marketing organisations and cookie providers who may provide us with information about you.

We may collect personal information from the following organisations:</p>

    <p style="text-align: justify">1. Google Analytics</p>
    <p style="text-align: justify">2. Social Media Cookies and Plug ins – Facebook, Twitter</p>
    <p style="text-align: justify">3. Payment Provider Cookies – for anti-fraud purposes</p>

<h6 style="text-align: center">Our Marketing</h6>
<p style="text-align: justify">We may provide you with information about our products, services, special offers, and other news where we feel these may interest you but only where you have not told us to stop.

We may use your information for market research and analysis so that we can ensure that we tailor our offers to your likes and needs.

Depending on what contact information you have given to us, we may contact you by email or post. We will only do this where you have consented to receiving such information from us.</p>
