
<h6 style="text-align: center;">OUR PRODUCTS</h6>
<p style="text-align: justify;">When you visit our website or use our services, we may collect certain information automatically such as:</p>

    <p style="text-align: justify;">1. The images of the Products on our site are for illustrative purposes only. Although we have made every effort to display the colours accurately, we cannot guarantee that your computer's display of the colours accurately reflect the colour of the Products. Your Products may vary slightly from those images.</p>
    <p style="text-align: justify;">2. The packaging of the Products may vary from that shown on images on our site.</p>
    
<h6 style="text-align: center;">HOW WE USE YOUR PERSONAL INFORMATION</h6>
    <p style="text-align: justify;">We only use your personal information in accordance with our Privacy Policy.</p>
<h6 style="text-align: center;">HOW WE USE YOUR PERSONAL INFORMATION</h6>
    <p style="text-align: justify;">1. Our shopping pages will guide you through the steps you need to take to place an order with us. Our order process allows you to check and amend any errors before submitting your order to us. After you place an order, you will be aknowledged that we have received your order.</p>
    <p style="text-align: justify;">2. If we are unable to supply you with a Product, for example because that Product is not in stock or no longer available or because we cannot meet your requested delivery date or because of an error in the price on our site, we will inform you of this by e-mail and we will not process your order.</p>

<h6 style="text-align: center;">OUR RIGHT TO VARY THESE TERMS</h6>
    <p style="text-align: justify;">1. We amend these Terms from time to time. Please look at the top of this page to see when these Terms were last updated and which Terms were changed.  Every time you order Products from us, the Terms in force at the time of your order will apply to the Contract between you and us.</p>
    <p style="text-align: justify;">2. If we have to revise these Terms as they apply to your order, we will contact you to give you reasonable advance notice of the changes and let you know how to cancel the Contract if you are not happy with the changes.  If you opt to cancel, you will have to return (at our cost) any relevant Products you have already received and we will arrange a full refund of the price you have paid, including any delivery charges.</p>
<h6 style="text-align: center;">YOUR CONSUMER RIGHT OF RETURN AND REFUND</h6>
<p style="text-align: justify;">If you are a consumer, you have a legal right to cancel a Contract during the period of two weeks. This means that during the relevant period if you change your mind or decide for any other reason that you do not want to receive or keep a Product, you can notify us of your decision to cancel the Contract and receive a refund. Advice about your legal right to cancel the Contract is available from your local Citizens' Advice Bureau or Trading Standards office.</p>