<header class "header">
    <div class="container-fluid">

        <div class="row">

            <div class="col-6"></div>
            <div class="col-6">
                <a href="/panel/logout/">Logout</a>
            </div>

        </div>

    </div>

</header>