<header class="header">
    <div class="container-fluid">
        <div class="row panel-header">

            <div class="col-6 text-left panel-header__left">
                <h1>Panel</h1>
            </div>

            <div class="col-6 text-right panel-header__right">
                <a class="panel-logout" href="/panel/logout/">Logout</a>
            </div>

        </div>
    </div>

</header>