main > .container-fluid{
    max-width: 1200px;
}

.btn-primary {
    padding: 10px 15px !important;
    text-transform: uppercase;

    letter-spacing: 1px;
    font-weight: 700 !important;

    border: 1px solid $mint-strong !important;
    background-color: $mint-strong !important;

    &:hover {
        color: initial !important;
        background-color: $mint-semi-strong !important;
    }
}