$mint-dark: #182628;
$mint-strong: #3B945E;
$mint-semi-strong: #57BA98;
$mint: #65CCBB;

$gray-mine: #F2F2F2;

$gray-very-light: #454545;
$gray-darker: #707070;
$gray-semi-darker: #9A9A9A;

$gray-medium: #B7B7B7;

$gray-semi-light: #D5D5D5;
$gray-light: #DFDFDF;
$gray-very-light: #EFEFEF;

$strong-black: #000000;
$black: #1F1F1F;
$soft-black: #303030;

$strong-white: #FFFFFF;
$white: #FAFAFF;
$soft-white: #F5F5FF;


$font-main: 'Open-Sans', sans-serif;

$largest-font-size: 48px; 

$very-large-font-size: 28px;
$large-font-size: 22px;

$medium-font-size: 18px;

$main-font-size: 16px;

$small-font-size: 14px;
$very-small-text-size: 12px;

$section-offset: 50px;

$link-hover-color: $gray-mine;